<div class="container">
    <div class="upper" >
    <mat-card class="table_no">
        <mat-card-content >
            <div class="big_text">
            Table Number
            </div>
            <div class="small_text">
            7
            </div>

        </mat-card-content>
    </mat-card>
    <mat-card class="step_no">
        <mat-card-content >
            <div class="big_text">
                    Step {{ this.foodservice.flow[this.foodservice.array_steps].step }}
            </div>
            <div class="small_text">
                    {{this.foodservice.flow[this.foodservice.array_steps].now}}
            </div>


        </mat-card-content>
    </mat-card>
    <mat-card (click)="onOrder()" class="orders" [ngClass]="{'order_active': this.foodservice.orders.length > 0 }">
        <mat-card-content>
            <div class="big_text">
                    Order
            </div>
            <div class="small_text">
                    {{ this.foodservice.orders.length }} selected
            </div>


        </mat-card-content>
    </mat-card>
    <mat-card (click)="nextMeal()" class="next_meal">
        <mat-card-content >
            <div class="big_text">
                    Next
            </div>
            <div class="small_text">
                    {{this.foodservice.flow[this.foodservice.array_steps].next}}
            </div>

        </mat-card-content>
    </mat-card>
    </div>

    <div  class="lower" >
    <ng-container  #centerFoodContainer></ng-container>
    <!-- <ul>
        <li *ngFor="let food of starters">
            {{food.name}}
        </li>

    </ul> -->

    </div>

</div>