$grey: #696969;
$roboto: Roboto,"Helvetica Neue",sans-serif;
.card-image{
    width: 100%;
    margin: 0 auto;
}

.card-image img{
    width: 100%;
    max-width: 100%;
}


mat-card{
    //width: 16%;
    padding: 0px;
    margin: 0px;

}

mat-card-content{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

p{
    margin: 0px;
    margin-top: 16px;
}

.food-title{
  font-family: $roboto;
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.food-cost{
    font-family: $roboto;
    color: #007fff;
    font-size: 15px;
    font-weight: 400;
}

.order_food{
    font-family: $roboto;
    color: white;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 17px;
    width: 100%;
    background-color: #007fff;
    padding-top: 7px;
    padding-bottom: 7px;
}

.order_selected{
    font-family: $roboto;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 17px;
    width: 100%;
    background-color: #FF1493;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
}
