$roboto: Roboto,"Helvetica Neue",sans-serif;
.container{
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 3px;
}

.top, .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bottom{
    margin-top: 5px;
}

.name{
    flex-grow: 1;
    margin-left: 10px;
    font-family: $roboto;
    font-size: 13px;
    font-weight: 400;
}

.type{
    color:#696969;

    font-family: $roboto;
    font-size: 11px;
    font-weight: 500;
}

.amount{
    font-family: $roboto;
    font-size: 12px;
    font-weight: 500;
    color: #007fff;
}

.food{
    font-size: 12px;
    color: #696969;
    margin-left: 5px;
}

mat-divider{
    margin-left: 3px;
    margin-right: 3px;
    width: 97%;
}