mat-dialog-content{
    display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 250px;
      height: 250px;
      flex-direction: column;
  }

  mat-dialog-actions{
      justify-content: center;
  }

  .msg{
      font-family: Roboto, sans-serif;
      font-size: 15px;
      font-weight: 500;
      margin-top: 20px;
  }
